@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,500;1,500&family=Inter:wght@600&family=Montserrat:wght@800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@500&family=Poppins:ital,wght@1,500&family=Roboto&family=Young+Serif&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:   hsl(0, 0%, 8%);

}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    background-color: #1F1F1F;
    margin-top: 90px;
    margin-bottom: 90px;
    gap: 50px;
    border-radius: 10px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 15px;
}

.conteudo img {
    border-radius: 50%;
    width: 20%;
    
}

.conteudo .nome {
    color:  hsl(0, 0%, 100%);
}

.conteudo .p1 {
    color:#C7F62A;
    
}

.conteudo p {
    color:  hsl(0, 0%, 100%);
   
}

.social {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
    
}

.social .media {
    width: 80%;
    height: 30px;
    background-color: #333333;
    padding: 5px;
    color: white;
    border-radius: 10px;
   
}

.social .media:hover {
    background-color: #C4F82A;
    transition: background-color 0.3s;
   
}

.social .media a {
    text-decoration: none;
    text-align: center;
    color: white;
}

.social .media:hover a {
    color: black;
   
}


/*---------Mobile---------*/

@media(min-width: 200px) and (max-width: 422px) {
    .container {
       width: 250px;
    }
}
